# Ignore all node_module directories
**/node_modules/
**/jspm_packages/
# Ignore all of these
**/package-lock.json
s3fs-fuse/
# Don't track files in .history
.history/
# Exclude mp3 clips
clips/
# Runtime data
pids
*.pid
*.seed
*.pid.lock
# Optional npm cache directory
.npm
# DynamoDB Local files
.dynamodb/
